.card {
  width: 500px;
  margin-top: 20px;
  margin-left: 150px;
}

.post1 {
  margin-bottom: 800px;
}

.post2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
