.stories{
    display: flex;
    align-content: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin:2em 0 1.5 0;
    height: 7em;
    overflow-x: hidden;
    
}

.accountName{
    font-size: 10px;
    margin-left: 30px;
}

.stories ::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:640px) {
    .stories{
        margin: 0.5em 0.5em 0.5em 0.5em;
    }
    
}